<div class="page-header">
  <h1>{{headerTitle}}</h1>
</div>

<div class="container">
  <div ng-repeat="game in games" class="panel panel-default">
    <div class="panel-heading">{{game.title}} ({{game.maxPlayers}} slots): {{game.buy_in}}</div>
    <div class="panel-body">
      <table class="table">
        <tbody>
          <tr ng-repeat="player in game.players">
            <td>{{player.name}}
          </tr>
        </tbody>
      </table>
      <button class="btn btn-primary" ng-click="registerForGame(game)">Register</button>
    </div>
  </div>
  <hr>
  <h3>Create a new game</h3>
  <form ng-submit="addGame()">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Title" ng-model="title"></input>
    </div>
    <div class="form-group">
      <input type="number" class="form-control" placeholder="Max Players" ng-model="max"></input>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Buy In" ng-model="buy_in"></input>
    </div>
    <button type="submit" class="btn btn-primary">Add Game</button>
  </form>
</div>
