<!DOCTYPE html>
<html>
  <head>
    <title>MicroLottery</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body ng-app="lottery" ng-controller="MainCtrl">
    <div ng-include="'nav/_nav.html'"></div>
    <ui-view></ui-view>
  </body>
</html>
